---
import Layout from '../layouts/BaseLayout.astro';
import AsciiAnimation from '../components/AsciiAnimation.astro';
---

<Layout title="Quacoo">
    <section class="section">
        <h1 class="section__header section__header--center">Under Construction</h1>
        <pre>
            O
    /~~~|#|]|=\|---\__
    |-=_____________  |\\ ,             O       O
    I|_/,-.-.-.-.-,-.\_|='(             T/\     /\=,---.
    ( o )( o )( o )     \            U /\   /\   `O'    cww
     `-'-'-'-'-`-'
        </pre>
    </section>
</Layout>



