---
import Layout from '../layouts/BaseLayout.astro';
import ThreeDScene from '../components/ThreeDScene.astro'
---

<Layout title="Quacoo">
    <section class="section">
      <ThreeDScene />
      <h1 class="section__header">Hello there, I am <span class="green-text">Kwaku Boateng</span>.</h1>
      <p>
        I am graduate computer science student with a bachelor's degree in physics.
        This blog is is document my thoughts, ideas, projects and research as I journey into the essence of computer science.
      </p>
    </section>

</Layout>



<style lang="scss">
  .green-text{
    color: var(--green-5);
  }
</style>
