---
const {url, frontmatter} = Astro.props;
---

<li class="blog-post">
    <div>
        <h1 class="blog-post__header"><a href={ url }> { frontmatter.title }</a></h1>
        <p>Date:  { frontmatter.pubDate }</p>
        <p>Description:  { frontmatter.description }</p>
    </div>
    <div class="blog-post__iw">
        <img class="blog-post__image" src={ frontmatter.image.url } />
    </div>
</li>

<style lang="scss">
    .blog-post{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2em 1em;
        line-height: 1.5;
        opacity: 0.75;
        &__iw{
            display: flex;
            flex-direction: column;
            border-radius: var(--radius-2);
            overflow: hidden;
            height: 96px;
        }
        &__image{
            height: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            filter: grayscale(100%);
            transition: filter 0.3s;
        }

        &__header{
            font-family: 'Kyiv Serif';
            font-size: var(--size-4);
            font-variation-settings: 'wght' 600, 'CONT' 1, 'MIDL' 0 ;
            color: var(--green-4);
            margin-bottom: var(--size-2);

            a {
                text-decoration: none;
                color: var(--green-4);
            }
            a:hover {
                text-decoration: underline;
                color: var(--green-5);
            }
        }
    }

    .blog-post:not(:last-child){
        border-bottom: dashed 1px var(--gray-1);
    }
    .blog-post:hover{
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.5s;

        .blog-post{
            &__image{
                filter: grayscale(0%);
                
            }    
        }
    
    }



@media screen and (max-width: 635px) { 
    .blog-post__image{
        filter: grayscale(0%);
    }

} 
    
</style>