<footer class="footer">
    <div class="content">
        <a href="https://github.com/quacoo1"><i class="fa fa-github" aria-hidden="true"></i> Github</a> 
        | 
        <a href="https://twitter.com/quacoo1"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> 
    </div>
</footer>

<style>
.footer{
    color: var(--gray-5);
    font-family: 'Courier Prime', monospace;
    padding: var(--size-7);
    padding-top: var(--size-8);
}
.content{
    text-align: center;
    max-width: 67rem;
    margin: 0 auto;
}
</style>