<footer class="footer">
    <div class="content">
        <a class="footer__link" href="https://github.com/quacoo1"><i class="fa fa-github" aria-hidden="true"></i> Github</a> 
        | 
        <a class="footer__link" href="https://twitter.com/quacoo1"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> 
    </div>
</footer>

<style lang="scss">
.footer{
    font-size: .875rem;
    color: var(--gray-7);
    font-family: 'Courier Prime', monospace;
    padding: var(--size-7);
    padding-top: var(--size-8);

    &__link:hover{
        color: var(--gray-5);
    }
}
.content{
    text-align: center;
    max-width: 67rem;
    margin: 0 auto;
}
</style>