<nav class="nav">
  <div class="nav__links" data-visibility="false">
    <a href="/" class="nav__link">home</a>
    <a href="/blog" class="nav__link">blog</a>
    <a class="nav__link nav__link--disabled">projects</a>
  </div>
</nav>

<style lang="scss">
  .nav{
      
      &__links{
        color: var(--gray-6);
			  border-radius: var(--radius-2);
        background-color: hsla(var(--gray-9-hsl) / 90%); 
        backdrop-filter: blur(12px);
			  padding: 0.875rem;	
      }
			&__link{
        cursor: pointer;
				padding: 0 var(--size-3);
				text-transform: capitalize;
        text-decoration: none;
				display:inline-block;
				&:not(:last-child){ border-right: solid 2px var(--gray-10);}
				&:hover{
					color:var(--green-4);
				}

        &--disabled{
          color: var(--gray-7);
          &:hover{color: var(--gray-7);}
        }
			}
  }
/* @media screen and (max-width: 635px) { */
/*     .nav{ */
/*       &__links{ */
/*         position: fixed; */
/*         top: 4.5em; */
/*         left: var(--size-7); */
/*         right: var(--size-7); */
/*         height: auto; */
/*         &[data-visibility="false"]{ */
/*           height: 0; */
/*           visibility: hidden; */
/*         } */
/*       } */
      
/*       &__link{ */
/* 				display:block; */
/*         padding: var(--size-3); */
/*         &:not(:last-child){ border-right: none;} */
/*       } */
/*    } */ 
 
/* } */
</style>
